@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
//variable declaration
$color : #000000;
$green:green;
$grey:#333;
$white:#fff;
$yellow:#FF9900;
$colorCream:#B95835;
$colorPurple:#7A3E48;



$container: 980px;
$border : "1px solid #000";
$left : left;
$right : right;
$boxWidth: 200px;
$centerAlign : 0 auto;
$font-Slabo: 'Slabo 27px', serif;